/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* gray-500 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 transparent;
}
